@font-face {
  font-family: Ashbury;
  src: local("Ashbury"), url("./assets/fonts/ashbury-light.otf") format("opentype");
}

@font-face {
  font-family: Graphik;
  src: local("Graphik"), url("./assets/fonts/graphik-regular.otf") format("opentype");
}

html {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0 0 0 0%);
}

:root {
  --wine: 140 0 52;
  --discreet-white: 255 245 247;
  --dark-blue: 47 70 102;
  --light-purple: 98 50 104;
  --dark-purple: 68 63 109;
  --indigo-blue: 18, 166, 154;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family:
    sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

section {
  height: 100%;
  width: 100%;
}

figure {
  margin: 0;
}

h1,
h2 {
  font-family: Ashbury, sans-serif;
  margin-top: -0.095em;
  margin-bottom: 0.095em;
  padding-bottom: 1.75rem;
  max-width: 40em;
}

h4,
h5 {
  font-family: Graphik, sans-serif;
}

h1 {
  font-weight: 500;
}

h2,
h3 {
  font-weight: 400;
}

span {
  font-family: Graphik, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

p {
  font-family: Ashbury, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
